# Emacs
*~
\#*\#
.\#*\#

# TeX
*.aux
*.log
*.synctex.gz
*.bbl
*.blg

# Rust
target/
Cargo.lock

# jet brains
.idea
*.iml

# Python
*.py[co]
__pycache__
.python-version
.ipynb_checkpoints

# Mac
.DS_Store
